@import "tailwindcss";

@theme {
    --color-primary: #C5ADED;
    --color-dark: #171717;
    --color-grey: #313131;
    --color-progress: #525252;
    --color-secondary: #70292D;

    @keyframes paneTransition {
        0% {
            opacity: 0;
            transform: translate(80px);
        }

        100% {
            opacity: 1;
            transform: translate(0);
        }

    }
}

@layer base {
    body {
        font-family: 'Nunito', sans-serif;
        background-color: var(--color-dark);
    }

    main {
        @apply md:flex mt-6 justify-between w-[95%] mx-auto text-white;
    }

    h1 {
        @apply text-3xl font-semibold text-white;
    }

    fieldset {
        @apply border px-[3rem] py-[2rem] rounded-md mb-6;
    }

    fieldset legend {
        @apply text-lg px-2;
    }
}


@layer components {
    .widget {
        @apply mb-8
    }

    .pane {
        display: initial !important;
        margin-inline-start: 1rem;
        position: absolute;
        top: 3em;
        max-width: 450px;
        right: 0;
        background: hsl(0 0% 20% / 0.4);
        backdrop-filter: blur(1rem);
        padding: 2em 1rem 0 1rem;
        z-index: 10000;
        animation-name: paneTransition;
        animation-duration: .28s;
        animation-delay: .04s;
        -webkit-animation-delay: .04s;
        animation-fill-mode: backwards;
    }

    .settings-input-box input {
        @apply border-2 border-white rounded-md text-white mb-3 w-[70%] py-1 mt-1 px-3;
    }

}

@layer utilities {
    .hide-scrollbar {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .hide-scrollbar::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
  }